$primary: #45d6a9;

// pretty-checkbox
$pretty--color-primary:#45d6a9;

$body-bg: #f5f5f5;

$font-family-sans-serif: 'Montserrat', sans-serif;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
